/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/*
@font-face {
  font-family: Poppins-semi-Bold;
  src: url("assets/fonts/Poppins-SemiBold.ttf") format('truetype');
}*/

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --primary: #3B2A9F;
  --primary-100: #5141AA;
  --bg-gradiant: #3B2A9F;
  --secondary: #FA8305;
  --brown: #1C140F;
  --black-700: #000;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}

@font-face {
  font-family: Poppins-medium;
  src: url("/assets/fonts/Poppins-Medium.ttf") format('truetype');
}

body{
  font-family: Poppins-medium, serif;
  background-color: var(--bg-gradiant);
  color: white;
}

header{
  height: 100px;
}

#logo{
  display: inline;
  margin: 25px 480px 25px 60px;
  color: white;
}

ul{
  display: inline;
}
.nav {
  display: inline;
  color: white;
  margin: 0 88px 0 88px;
}

.selected{
  background-image: url("/assets/images/active-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#theme{
  padding: 10px 25px;
  border-radius: 6px;
  display: inline;
  font-size: 13px;
  color: white;
  background-color: var(--secondary);
}

.pre-content{
  margin-top: 100px;
  margin-left: 150px;
  width: 527px;
  height: 510px;
  display: inline-block;
}

#sponsoring{
  color: var(--secondary);
  margin-bottom: 18px;
  font-size: 20px;
}

#heading{
  width: 480px;
  height: 235px;
  font-size: 50px;
}

.pre-content section{
  font-size: 16px;
  width: 530px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-right: 50px;
  line-height: 2;
}

.pre-content .more-details{
  font-size: 16px;
  border-radius: 30px;
  color: white;
  padding: 15px 30px;
  background-color: var(--secondary);
  text-decoration: none;
}

#joy-1{
  position: relative;
}

#unity-1{
  position: relative;
  bottom: 250px;
  left: 20px;
  width: 96px;
  height: 30px;
}

#cry-1{
  width: 101px;
  height: 99px;
  position: relative;
  bottom: 450px;
  left: 200px;
}

#unreal-1{
  width: 59px;
  height: 64px;
  position: relative;
  bottom: 470px;
  left: 400px;
}

.trend{
  margin-top: 180px;
  margin-left: 150px;
  margin-bottom: 60px;
}

@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/static/Rubik-Medium.ttf");
}

#trend-text{
  font-family: Rubik, serif ;
  font-size: 30px;
  line-height: 58px;
  display: inline-block;
}

.more{
  font-family: Rubik, serif;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: var(--primary-100);
  margin-left: 625px;
}

.trending-games{
  margin-left: 150px;
}
.trending-games li{
  display: inline-block;
  margin-right: 47px;
}

.trend-game-img{
  width: 251px;
  height: 277px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center center;
}

article {
  display: flex;
  align-items: center;
  margin: 25px 40px;
}

.fire {
  margin-right: 10px;
  width: 18px;
  height: 25px;
}

.followers{
  font-family: Rubik, serif;
  font-size: 22px;
  line-height: 41px;
}

.middle-text{
  font-family: Poppins-medium, serif;
  font-size: 35px;
  text-align: center;
  margin-top: 105px;
  width: 826px;
  height: 132px;
  margin-left: 307px;
}

@font-face {
  font-family: Poppins-light;
  src: url("/assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-ExLight;
  src: url("/assets/fonts/someFont/Poppins-ExtraLight.ttf");
}

.textbox{
  width: 545px;
  height: 173px;
  margin-top: 170px;
  margin-left: 147px;
}

.head{
  font-size: 30px;
  margin-bottom: 32px;
}

.paragrapgh{
  font-family: Poppins-ExLight, serif;
  font-size: 16px;
  width: 545px;
  height: 101px;
}

.random-dots{
  color: #DC700059;
  width: 196px;
  height: 154px;
  display: inline-block;
  margin-left: 973px;
  font-size: 40px;
}

.dot{
  height: 20px;
}
.middle-page-img{
  width: 1146px;
  height: 462px;
  margin-left: 147px;
  position: relative;
  bottom: 53px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}
/*.last-content{
  width: 1170px;
  height: 678px;
}*/
.last-content main{
  width: 497px;
  height: 128px;
  text-align: center;
  margin-left: 471px;
}

.last-content .paragrapgh{
  width: 497px;
  height: 57px;
}

.last-content-img{
  margin: 71px 134px 72px 136px;
}

#img1{
  width: 382px;
  height: 223px;
  border-radius: 20px;
  margin-right: 27px;
  object-fit: cover;
}
#img2{
  width: 382px;
  height: 223px;
  border-radius: 20px;
  margin-right: 27px;
  object-fit: cover;
}
#img3{
  width: 352px;
  height: 223px;
  border-radius: 20px;
  object-fit: cover;
}
.first-row{
  margin-bottom: 33px;

}

#img4{
  width: 246px;
  height: 223px;
  border-radius: 20px;
  margin-right: 27px;
  object-fit: cover;
}
#img5{
  width: 401px;
  height: 223px;
  margin-right: 27px;
  border-radius: 20px;
  object-fit: cover;
}
#img6{
  width: 469px;
  height: 223px;
  border-radius: 20px;
  object-fit: cover;
}

.last-content-more-detail{
  margin-bottom: 105px;
}

.container{
  width: 1170px;
  height: 392px;
  margin-left: 135px;
  margin-bottom: 163px;
}

#txt-1{
  margin-left: unset;
}

.box{
  background-color: black;
  width: 1170px;
  height: 189px;
  border-radius: 15px;
}

.box .textbox{
  margin: 40px 134px 42px 56px;
  width: 636px;
  height: 107px;
  display: inline-block;
}

.alternate{
  margin-bottom: 10px;
}

.email{
  width: 385.68px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  margin-left: 734px;
  margin-top: -120px;
}

#email{
  text-align: center;
  font-family: Poppins, serif;
  width: 155px;
  height: 20px;
  margin: 14px 99px 14px 21px;
  border: none;
}

.btn{
  font-family: Poppins, serif;
  padding: 8px 13.5px 9px 22px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: var(--secondary);
}

footer{
  background-color: var(--black-700);
  width: 1440px;
  height: 376px;
}

.footer-coloumns{
  width: 1219px;
  height: 161px;
  padding-top: 79px;
  margin-left: 100px;
}

.footer-col{
  list-style: none;
  display: inline-block;
}

.paragrapgh.p-1{
  width: 372px;
  height: 58px;
  margin-bottom: 25px;
}

.paragrapgh.p-2{
  width: 196px;
  height: 23px;
}
/* good luck */
