/* 1. don't modify this style */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
    /* --"somekey-attr": "somevalue" i.e : */
    --primary: #3B2A9F;
    --primary-100: #5141AA;
    --bg-gradiant: #3B2A9F;
    --secondary: #FA8305;
    --brown: #1C140F;
    --black-700: #000;
}

@font-face {
    font-family: Poppins-ExLight;
    src: url("/assets/fonts/someFont/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: Poppins-medium;
    src: url("/assets/fonts/Poppins-Medium.ttf") format('truetype');
}

@font-face {
    font-family: Poppins-bold;
    src: url("/assets/fonts/Poppins-Bold.ttf") format('truetype');
}

@font-face {
    font-family: Rubik;
    src: url("/assets/fonts/static/Rubik-Medium.ttf");
}

@font-face {
    font-family: Poppins-light;
    src: url("/assets/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-semi-Bold;
    src: url("/assets/fonts/Poppins-SemiBold.ttf") format('truetype');
}

body {
    font-family: Poppins-medium, serif;
    background-color: var(--bg-gradiant);
    color: white;
    width: 1440px;
    margin: 0 auto;
}

header {
    height: 100px;
}

#logo {
    font-family: Poppins-bold;
    width: 81.93px;
    height: 45px;
    margin-top: 25px;
    margin-left: 60px;
    color: white;
    display: flex;
}

.list {
    display: flex;
    margin-left: 706px;
    margin-top: -30px;
    width: 505.41px;
    height: 24.2px;
}

.nav {
    font-family: Poppins-ExLight;
    display: inline;
    color: white;
    margin-right: 88px;
    width: 140px;
    height: 41.34px;
}

/*.nav:hover {
    border-bottom: 3px solid var(--secondary);
    border-radius: 3px;
}*/

.selected{
    position: relative;
    bottom: 12px;
    right: 14px;
}

#theme {
    width: 81px;
    height: 20px;
    padding: 10px 25px;
    border-radius: 6px;
    display: inline;
    position: relative;
    left: 1247px;
    bottom: 25px;
    font-size: 13px;
    color: white;
    background-color: var(--secondary);
    font-family: Poppins-ExLight;
}